/* globals.css */
@import "tailwindcss";

:root {
  /* Paleta definida para estética gaming profesional */
  --bg-color: #0a0a0a;
  --text-color: #ededed;
  --accent-color: #61ff61; /* Verde neón (GeForce/Discord style) */
  --border-color: #2d2d2d;
}

/* Base de navegación y scroll suave */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Ajuste para evitar solapamiento con Navbar fija */
}

section[id]{
    scroll-margin-top:0px;
}

/* Estilo de selección de texto */
::selection {
  background-color: var(--accent-color);
  color: #000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

/* Personalización de la barra de desplazamiento (Scrollbar) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 5px;
  border: 1px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}